#header {
    background-color: #2D9BFF;
}

#main-title {
    color: #fff;
    font-size: 75px;
}

.container-fluid-title {
    padding: 11% 10%;
}

.title-image {
    width: 35%;
    position: absolute;
    top: 50px
}

/*#map1 {
    margin: auto;
    height: 600px;
    width: 100%;
}*/

.instructions {
    padding: 0% 10%;
}

#image {
    padding: 0% 10%;
}

.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #dddddd;
}

.image-preview__image {
    display: none;
    width: 100%;
}

.results {
    padding: 0% 10%;
}

#enter-zip {
    padding: 0% 10%;
}

.zip-form {
    padding: 1% 10%;
}

/*____________About_____________*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
}

.bio1 {
    background-color: #2D9BFF;
    padding: 10% 5%; 
    color: rgb(255, 255, 255);
}
.bio2 {
    background-color: #91caff;
    padding: 10% 5%; 
    color: rgb(0, 0, 0);
}
.bio3 {
    background-color: #91caff;
    padding: 10% 5%; 
    color: rgb(0, 0, 0);
}
.bio4 {
    background-color: #2D9BFF;
    padding: 10% 5%; 
    color: rgb(255, 255, 255);
}

/*____________Learn more_____________*/
.grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
}
.tips {
    font-size: 18px;
    padding-left: 30%;
}

.types {
    font-size: 18px;
    padding-top: 20%;
    padding-left: 30%;
}
.tips-img {
    padding-left: 8%;
    padding-bottom: 8%;
}
.types-img {
    padding-left: 4%;
    padding-bottom: 5%;
}

.links {
    background-color: #91caff;
    padding: 2% 10%;
}
.links a{
    display: inline-block;
    font-size: 18px;
    padding: 0.5% 10%;
    color: black;
}