#header {
    background-color: #2D9BFF;
}

#main-title {
    color: #fff;
    font-size: 75px;
}

.container-fluid-title {
    padding-left: 11% 10%;
}

h1 {
    text-align: center;
}




#linksHeader {
    padding-left: 50px;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

.links a {
    float: center;
    padding: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}



.types {
    padding-left: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.tips {
    padding-left: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}


.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #e9e9e9;
}

.image-preview__image {
    display: none;
    width: 100%;
}

.bio1 {
    color: rgb(0, 0, 0);
}

.bio2 {
    color: rgb(0, 0, 0);
}

.bio3 {
    color: rgb(0, 0, 0);
}

.bio4 {
    color: rgb(0, 0, 0);
}