menu-container{
    background-color: rgb(173, 129, 84);
}
body {
    background-color:rgb(57, 196, 32);
    margin-left: 100px;
    margin-right: 100px;
}   

h1{
    text-align: center;
}

.topnav {
    background-color: rgb(4, 1, 10);
    text-align: center;
}

.topnav a{
    display: inline-block;
    background-color: rgb(173, 129, 84);
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
}

#map1 {
    margin: auto;
    height: 600px;
    width: 90%;
  }

#map2 {
    margin: auto;
    height: 600px;
    width: 80%;
}

#floating-panel {
    margin: auto;
    padding: 10px 130px;
}

#address {
    display: inline-block;
    font-size: 16px;
}

#mapSubmit {
    display: inline-block;
    font-size: 16px;

}




