/*____________Home_____________*/
#header {
    background-color: #2D9BFF;
    width: 99%;
}
.body {
    
    background-color: rgb(255, 255, 255)
}
#main-title {
    color: #fff;
    font-size: 75px;
}
.container-fluid-title {
    position: static;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.title-image {
    position: static;
    width: 80%;
    height: 103.5%;
}
#map1 {
    margin: auto;
    height: 600px;
    width: 100%;
}
.instructions {
    padding: 0% 10%;
}
#image {
    padding: 0% 10%;
}
.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #dddddd;
}
.image-preview__image {
    display: none;
    width: 100%;
}
.results {
    padding: 0% 10%;
}
#enter-zip {
    padding: 0% 10%;
}
.zip-form {
    padding: 1% 10%;
}


/*____________About_____________*/
#h2 {
    text-align: center;
    padding: 2% 0%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
}
.bio1 {
    background-color: #2D9BFF;
    padding: 10% 5%; 
    color: rgb(255, 255, 255);
}
.img1 {
    padding: 5% 5%;
    background-color: #2D9BFF;
}
.bio2 {
    background-color: #c4e2ff;
    padding: 10% 5%; 
    color: rgb(0, 0, 0);
}
.img2 {
    padding: 5% 5%;
    background-color: #c4e2ff;
}
.bio3 {
    background-color: #c4e2ff;
    padding: 10% 5%; 
    color: rgb(0, 0, 0);
}
.img3 {
    padding: 5% 5%;
    background-color: #c4e2ff;
}
.bio4 {
    background-color: #2D9BFF;
    padding: 10% 5%; 
    color: rgb(255, 255, 255);
}
.img4 {
    padding: 5% 5%;
    background-color: #2D9BFF;
}


/*____________Learn more_____________*/
#h3 {
    text-align: center;
    padding: 2% 0%;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
}
.tips {
    font-size: 18px;
    padding-left: 30%;
}
.types {
    font-size: 18px;
    padding-top: 20%;
    padding-left: 30%;
}
.tips-img {
    padding-left: 8%;
    padding-bottom: 8%;
}
.types-img {
    padding-left: 4%;
    padding-bottom: 5%;
}
.links {
    background-color: #c4e2ff;
    padding: 2% 10%;
}
.links a{
    display: inline-block;
    font-size: 20px;
    padding: 0.5% 10%;
    color: black;
    margin: auto;
}

